.product-container {
  display: flex;
  align-items: flex-start;
  /* Modifier l'alignement pour aligner en haut */
  justify-content: center;
  padding: 70px;
  
}

#product-image {
  flex: 5 2 40%;
  max-width: 50%;
}
p{
  font-family: 'Orbitron', sans-serif;
    color: #000000;
    font-weight: bold;
}

.product-info {
  
  max-width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  /* Modifier l'alignement pour aligner en haut */
  padding: 0px;
}

.product-info h2 {
  margin-top: 0px;
}

.product-info p {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .product-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image,
  .product-info {
    flex: 1 1 auto;
    max-width: 100%;
  }
}