h1 {
    color:brown;
    font-style: italic;
    text-align: center;
  }
.form-inscription{
  margin-top: auto;
  height: 87vh;
 
  
}
h3{
  color: dodgerblue;
  font-weight: bold;
  margin-top: 5vh;
  

}
