.contenu-footer {
    display: flex;
    justify-content: space-between;
    background-color: #B9BEDC;
    padding: 20px;
  }
  
  .bloc {
    flex-basis: 25%;
    margin-right: 20px;
  }
  
  .bloc:last-child {
    margin-right: 0;
  }
  
  .liste-service,
  .liste-horraires,
  .liste-media {
    list-style: none;
    padding: 0;
  }
  
  .liste-service li,
  .liste-horraires li,
  .liste-media li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
h3{
    
      color: white;
      
  }
li{
  font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
}
p{
  font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
}
a{
    font-family: 'Orbitron', sans-serif;
      color:white;
      font-weight: bold;
}
  